* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.conteiner {
  width: 1000px;
  height: 700px;
  background-color: rgb(190, 59, 223);
}
.box {
  width: 600px;
  height: 700px;
  background-color: white;
  margin-left: 200px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}
#country {
  border: none;
  width: 260px;
  height: 50px;
  background-color: white;
  margin-left: 180px;
  margin-top: 20px;
  font-size: 1.5rem;
  opacity: 40%;
}
.ins {
  width: 340px;
  height: 150px;
  margin-left: 130px;
  margin-top: 20px;
}
.boxmini {
  width: 500px;
  height: 70px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
  margin-left: 50px;
  margin-bottom: 30px;
  background-color: rgb(246, 247, 248);
  display: flex;
  /* justify-content: space-around; */
}
.text {
  margin-top: 20px;
  margin-left: 15px;
  font-size: 1.35rem;
  opacity: 60%;
}
#eye {
  margin-top: 25px;
  margin-left: 40px;
  color: blue;
  opacity: 70%;
}
#boxblue {
  width: 500px;
  height: 70px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
  margin-left: 50px;
  background-color: rgb(8, 68, 197);
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}
.face {
  width: 20px;
  height: 20px;
}
.boxmini2 {
  width: 500px;
  height: 30px;
  margin-left: 50px;
}
#text1 {
  width: 500px;
  height: 40px;
  display: flex;
  justify-content: center;
}
span {
  opacity: 50%;
}
.boxmini3 {
  display: flex;
  margin-left: 50px;
  justify-content: center;
  opacity: 50%;
  margin-bottom: 20px;
}
.boxmini4 {
  margin-left: 180px;
}
