* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.conteiner {
  width: 1000px;
  height: 700px;
  background-color: rgb(190, 59, 223);
}
.box {
  width: 600px;
  height: 700px;
  background-color: white;
  margin-left: 200px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}
#country {
  border: none;
  width: 260px;
  height: 50px;
  background-color: white;
  margin-left: 180px;
  margin-top: 20px;
  font-size: 1.5rem;
  opacity: 40%;
}
.ins {
  width: 340px;
  height: 150px;
  margin-left: 130px;
  margin-top: 20px;
}
.boxmini {
  width: 500px;
  height: 70px;
  border: 1px solid grey;
  margin-left: 50px;
  margin-bottom: 30px;
  background-color: rgb(246, 247, 248);
  display: flex;
  /* justify-content: space-around; */
}
.text {
  margin-top: 20px;
  margin-left: 15px;
  font-size: 1.35rem;
  opacity: 60%;
}
#eye {
  margin-top: 25px;
  margin-left: 80px;
  color: blue;
  opacity: 70%;
}
